Source: libpdl-dsp-fir-perl
Section: perl
Priority: optional
Maintainer: John Lapeyre <jlapeyre@cpan.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep:  pdl,
 perl,
 perl-modules
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/PDL-DSP-Fir/

Package: libpdl-dsp-fir-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libpdl-dsp-windows-perl,
 pdl,
 perl-modules
Description: Finite impulse response filter kernels.
 The module provides routines to create finite impulse response (FIR) filter
 kernels. For a simple interface for filtering with this module, see
 PDL::DSP::Fir::Simple. The routine /firwin returns a filter kernel
 constructed from windowed sinc functions. Available filters are lowpass,
 highpass, bandpass, and bandreject. The window functions are in the module
 PDL::DSP::Windows.
